.list{
    list-style: lower-alpha;
    padding: 0.2rem;
}
.main{
    background-image: url('../../assets/quiz.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}